hr {
    border-style: none;
    background-color: rgb(246, 249, 248);
    height: 3px;
}

body{
    background-color: rgb(224, 235, 232);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 35px;
    color: rgb(71, 247, 209);
    text-align: center;
}

h2 {
    font-size: 28px;
    color: rgb(74, 177, 154);
    text-align: center;
}

h3 {
    text-align: center;
}

ul::marker {
    font-size: 2rem;
    font-weight: bolder;
}

header{
    width: 100%;
    background-color: seagreen;
    padding: 1em;
    text-align: center;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p{
    text-align: center;
}

li{
    text-align: center;
}