hr {
    border-style: none;
    background-color: rgb(246, 249, 248);
    height: 3px;
}

body{
    background-color: rgb(224, 235, 232);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 35px;
    color: rgb(62, 156, 135);
}

h2 {
    font-size: 28px;
    color: rgb(74, 177, 154);
}

ul::marker {
    font-size: 2rem;
    font-weight: bolder;
}

header{
    width: 100%;
    background-color: darkblue;
    color: rgb(62, 156, 135);
    padding: 1em;
    text-align: center;
}